.dyp-wrapper {
  width: 90%;
  margin: 5%;
  margin-bottom: 0;
  padding-top: 2rem;
  z-index: 100;
  text-align: center;
}

.dyp-wrapper .ui.breadcrumb {
  margin-bottom: 2rem;
}

.dyp-wrapper .ui.breadcrumb .section {
  font-size: large;
}

.dyp-wrapper .ui.breadcrumb .active.section {
  background: #133d4d;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 361px) and (max-width: 500px) {
  .dyp-wrapper .ui.breadcrumb .section {
    font-size: 15px;
  }
}

@media (min-width: 325px) and (max-width: 360px) {
  .dyp-wrapper .ui.breadcrumb .section {
    font-size: 13px;
  }
}
@media (max-width: 324px) {
  .dyp-wrapper .ui.breadcrumb .section {
    font-size: 12px;
  }
}
