.track-wrapper {
  width: 90%;
  margin: 5%;
  padding-top: 2rem;
}

.ui.info.message.track-message-wrapper {
  margin-bottom: 2rem;
}

.track-message-wrapper {
  text-align: center;
}

.track-input {
  width: 80%;
  margin-left: 2.5%;
  margin-bottom: 2rem;
}

.column.tracking-details {
  padding: 1rem 0 !important;
}

.ui.button.track-input__btn {
  width: 13%;
  margin-left: 2%;
  background-color: #133d4d;
  color: white !important;
  border-radius: 20px;
}

.ui.button.track-input__btn:active,
.ui.button.track-input__btn:focus {
  background-color: #133d4d;
}

.ui.button.track-input__btn:hover {
  background-color: #0e2d39 !important;
}

.ui.raised.segment.track-segment {
  box-shadow: 0 0 0 2px rgb(255, 256, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3) !important;
}

.ui.raised.segment.track-segment p,
.ui.raised.segment.track-segment h3 {
  text-align: center;
}

.ui.raised.segment.track-segment h3 {
  margin: 0;
}

@media (min-width: 664px) and (max-width: 920px) {
  .track-input {
    width: 75%;
  }
  .ui.button.track-input__btn {
    width: 18%;
  }
}

@media (min-width: 520px) and (max-width: 663px) {
  .track-input {
    width: 70%;
  }
  .ui.button.track-input__btn {
    width: 23%;
  }
}

@media (max-width: 519px) {
  .track-input {
    margin-left: 5%;
    width: 90%;
  }
  .ui.button.track-input__btn {
    width: 40%;
    margin: 2rem 0 0 25%;
    margin-top: 0;
  }
  .ui.raised.segment.track-segment {
    margin-top: 2rem;
  }
}

@media (max-width: 365px) {
  .ui.raised.segment.track-segment p,
  .ui.raised.segment.track-segment h3 {
    font-size: 14px;
  }

  .ui.raised.segment.track-segment p {
    padding-left: 0.5rem;
  }
}
