.jumbotron-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
}

.jumbotron h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.jumbotron h3 {
  margin-top: 2rem;
}

.jumbotron p {
  margin-bottom: 2rem;
}

.ui.negative.button.modal-close-btn {
  background-color: #b3512c !important;
}

.ui.negative.button.modal-close-btn:hover,
.ui.negative.button.modal-close-btn:active {
  background-color: #8f402c !important;
}

@media (max-width: 750px) {
  .jumbotron-content {
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .jumbotron h1 {
    font-size: 2rem;
  }
}

@media (min-width: 750px) and (max-width: 1250px) {
  .jumbotron-content {
    padding-left: 5rem;
  }
}
