.oi-wrapper {
  width: 100%;
  height: auto;
  background: #eeeff0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
  margin-bottom: 4rem;
}

.oi-heading {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oi-map {
  width: 90%;
  margin: 2rem 6rem;
  padding-bottom: 3rem;
}

@media (min-width: 900px) and (max-width: 1050px) {
  .oi-map {
    margin-top: 2rem;
    margin-left: 4rem;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .oi-map {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

@media (max-width: 649px) {
  .oi-map {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
}
