.drawer-toggle {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
  height: inherit;
  padding: 20px 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.drawer-toggle div {
  width: 90%;
  height: 3px;
  background: #000;
}

@media (min-width: 768px) {
  .drawer-toggle {
    display: none;
  }
}
