.hiw-wrapper {
  width: 100%;
  height: auto;
  /* margin-top: 3rem; */
}

.hiw-heading {
  background: #e0e1e2;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.16);
}

.hiw-heading h1 {
  text-align: center;
  font-size: 2.5rem;
}

.hiw-process {
  text-align: center;
  /* background-color: #e0e1e2; */
}

.hiw-card__wrapper {
  display: flex;
  justify-content: center;
}

.hiw-card-content {
  display: flex;
  flex-direction: column;
}
