.sidebar {
  position: fixed;
  width: 500px;
  max-width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 200;
  background-color: #fff;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.mobile-only {
  height: inherit;
}

.mobile-only ul {
  height: inherit;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
